*{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/081/992/non_2x/abstract-tech-sci-fi-hologram-frame-template-design-background-vector.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-color: aqua;
}
.imgbox {
    /* display: grid;
    height: 100%; */
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    /* margin: auto; */
}
h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
h2.machine{
    text-align: center;
    color: white;
    /* font-family: 'Kdam Thmor Pro', sans-serif; */
}
h2.you{
    text-align: center;
    color: white;
    /* font-family: 'Kdam Thmor Pro', sans-serif; */
}
h2.machine_score{
    text-align: center;
    color: rgb(255, 1, 1);
    font-family: 'Orbitron', sans-serif !important;
}
h2.you_score{
    text-align: center;
    color: rgb(65, 253, 8);
    font-family: 'Orbitron', sans-serif !important;
}
.button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3F423F;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    margin:3px;
  }
  .button:hover {background-color: #4492A5;}
  .button:active {
    background-color: #1589a7e3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button .fas{
    color: rgb(216, 186, 16);
  }
  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #CCCCCC;
  color: #666666;
  cursor: default;
}
  /* .you_choice{
    visibility: hidden;
 }
 .machine_choice{
    visibility: hidden;
 } */
 #moves_count{
    color:rgb(241, 151, 78);
    font-family: 'Audiowide', cursive;
 }
 #final{
    display: none; 
    text-align:center;
    color:white;
 }
 #final_result{
    color: rgb(36, 248, 213);
    text-align:center;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(109, 109, 184), 0 0 5px rgb(221, 221, 236);
    margin: 100px;
 }
 #no_moves{
    color:red;
    text-align: center;
    margin: 50px;
 }
 .button1{
    padding:10px;
    border-radius: 10px;
 }